*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.head1 
{   
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
background-color: rgb(187, 0, 0);
}

.head1 h1
{ 
margin-left: 6%;    
font-size: 30px;
color:white;
padding: 15px;   
}

.head1 p
{
background-color: black;
font-size: 18px;
color: red;
text-align: center;
padding: 15px;
border: 1px solid red;
}

.head1 img
{
position: absolute; 
width: 80px;
height: 55px;
padding: 2px;
margin-left: 10px;
margin-top: 3px;
}

.head1 img:hover
{
box-shadow: 1px 2px 4px 4px white;
cursor: pointer;
}
.head1 h1:hover
{
    color: greenyellow;
    cursor: pointer;
}

.container
{
border: 1px solid black;
width: 350px;
height: 350px;
border-radius:10px;    
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
background-color: black;
opacity: 75%;
color: white;

}

.container input
{
 width: 200px;
 height: 20px;   
 text-align: center;
 border-radius: 5px;
 border: none;
}

.sub 
{
background-color: red;
color: white;
}
.sub:hover
{
background-color: lime;
color: red;    
}

.container button
{
background-color: red;
border: none;
border-radius: 5px;
width: 200px;
height: 20px;
}
.container button a
{
color: white;
text-decoration: none;
}


.logwall img
{
    width: 1350px;
    height: 720px;
}