*
{
margin: 0%;
padding: 0%;    
}

body
{
background-color: rgb(245, 204, 211);    

}

.nav
{    
background-color: rgb(233, 1, 1);    
height: 55px;
}

.nav ul
{
display: flex;    
list-style: none;  
justify-content:center;
}

.nav ul li
{    
position: relative;    
text-align: center;    
padding: 14px;
margin-top: 10px;
left: 45px;
font-family: "Poppins", sans-serif;
font-weight: bold;
font-size: 16px;
word-spacing: 2px;
}

.nav ul li a
{    
text-decoration: none;
color: whitesmoke;    
}

.nav ul li a:hover
{
color: lime;
}

.logo
{
background-color: rgb(0, 0, 0);    
height: 80px;
border-bottom: 5px solid rgb(207, 196, 196);
} 
.logo img
{
position: relative;    
width: 80px;
height: 70px;
margin-left: 10px;
padding: 2px;
} 

.logo h1
{
position: absolute; 
left: 130px;
color: white;
top:75px;
font-size:30px;
}
.logo h1 span
{
color: red;    
}

.logo h3
{
position: absolute;    
color:white;
margin-left: 70%;
border: 1px solid red;
padding: 5px;
margin-top: 20px;
}
.logo h3:hover
{
color:lime;
border: 1px solid yellow;
}

.logo a button
{
position: absolute; 
left: 88%;
top: 12%;
background-color:red;
color:white;
border: none;
border-radius: 15px;
width: 120px;
height: 35px;
font-size: 16px;
font-weight: bold;
}

.logo a button:hover
{
background-color: white;
color: red;    
box-shadow: 2px 2px 4px 2px lime;
}

.logo img:hover
{
    box-shadow: 2px 2px 2px 4px lime;
}

.background img
{
width: 1350px;
height: 700px;    

}

.tab table
{
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%,-50%);
width: 800px;
line-height: 30px;
text-align: center;
border: 2px solid green;
border-collapse: collapse;
}

.tab th
{
background-color:rgb(13, 196, 13);
opacity: 70%;
color: white;
font-weight: bolder;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
padding: 15px;    
border: 1px solid white;
}

.tab td
{
background-color: rgb(255, 0, 0);    
color: white;  
opacity: 60%;
font-family:Arial, Helvetica, sans-serif;
font-weight: bolder;   
padding: 3px;    
border: 1px solid white;
}